* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main Container */
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-col > div {
  width: 100%;
}


/* Preview Screen */
#preview-screen {
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  border-left: 1px solid black;
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
}

#preview-header {
  height: 80px;
  width: 100%;
  border: black 2px solid;
}

#main-title {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  font-size: 40px;
}

/* General Information */
#preview-general-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: red;
  width: 100%;
}
