* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main Container */
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}


/* Preview Screen */
#preview-screen {
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  border-left: 1px solid black;

}

#preview-header {
  height: 80px;
  width: 100%;
  margin: 1rem;
  border: black 2px solid;
}

#main-title {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  font-size: 40px;
}

