* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */
:root {
  --main-font: 'Roboto', sans-serif;
  --primary-color: #538eed;
  --secondary-color: #313033;
}

/* Global classes */
.font-color {
  color: var(--primary-color);
}


/* Main Container */
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-col > div {
  width: 100%;
}


/* Preview Screen */
#preview-screen {
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  border-left: 1px solid black;
}

/* Preview Container */
#preview-container {
  padding: 1rem;
  height: 100%;
  font-family: var(--main-font);
  color: var(--secondary-color);
}

/* Preview Sidebar */
#preview-sidebar {
  width: fit-content;
  border: black 1px solid;
  height: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* Preview General */

.info-icon{
  display: inline;
  margin-right: 1rem;
}

#preview-general > div {
  margin-top: 1rem;
}

#preview-general > .prof-designation {
  text-align: left;
  font-size: 1rem;
  margin-top: 0;
}

#preview-general > .name {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

#preview-general > .phone, .email, .git-hub {
  margin: 2rem 0 0 3rem;
}


/* Techincal Skills */
